.header {
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #292929;
}

.list {
    display: flex;
    align-items: center;
    min-width: 0;
    gap: 1rem;
    list-style: none;
    padding-inline: 0;
    padding: 0;
}

.logoutButton {
    max-height: 10%;
    background-color: #292929;
    border: 1.062rem solid #292929;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.1rem;
}

.logoutButton:hover {
    cursor: pointer;
}

.list a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.list a:hover {
    text-decoration: underline;
}