.demonEntry {
    list-style-type: none;
    opacity: 0.8;
  }
  
  .entryData {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: 7rem;
    margin: -7rem auto;
    justify-content: center;
    font-weight: 100;
    color: white;
  }
  
  .entryName {
    margin-top: -0.2rem;
    margin-bottom: 0;
    text-align: center;
    font-family: sans-serif
  }
  
  .entryCreator {
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.7)
  }
  
  .entryComments {
    height: 50%;
    font-size: 0.9rem;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150ch;
  }
  
  .entryUserStats {
    display: block;
    height: 5%;
    margin-right: 0.5rem;
    text-decoration: none;
    opacity: 85%;
  }
  
  .entryUserStats h3 {
    margin-top: 7.5rem;
    font-size: 0.8rem;
    text-align: right;
    text-decoration: none;
  }
  
  .demonEntry img {
    display: block;
    margin-top: 1rem;
    height: 6rem;
    width: 6rem;
  }

  .complete {
    color: rgb(148, 255, 139);
    text-shadow: 1px 1px 2px black;
  }

  .inprogress {
    color: rgb(235, 255, 120);
    text-shadow: 1px 1px 2px black;
  }

  .backburner {
    color: rgb(255, 202, 104);
    text-shadow: 1px 1px 2px black;
  }

  .dropped {
    color: rgb(255, 110, 110);
    text-shadow: 1px 1px 2px black;
  }
  