.searchContainer {
  display: block;
  margin: 5rem auto;
  text-align: center;
  background-color: rgb(38 38 38);
  border: 0.3rem solid rgb(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 1rem;
  width: 90%;
  max-width: 50%;
}

.searchButton {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
  text-align: center;
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
}

.searchButton:hover {
  background-color: rgba(255, 255, 255, 0.8)
}
.formWrapper {
  display: flex;
  max-width: 50%;
  margin: 10rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:#3b3b3b; 
  padding-bottom: 2rem;
}

.autoComplete {
  margin: 0 auto;
  text-align: center;
}

.autoComplete input {
  width: 100%;
  border: none;
  margin: 10px 0;
  font-size: 16px;
  padding: 0.7rem;
}

.suggestions {
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
  justify-content: center;
  list-style: none;
  color: black;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
  border: solid 0.3rem black;
}

.suggestions:hover {
  cursor: pointer; 
}

.suggestion {
  display: block;
  width: 100%;
}

.formTitle {
    color: white;
    margin-top: -1.5rem;
    padding-top: 1.5rem;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 0.9rem black;
}
  
.formItem {
    display: grid;
    justify-content: center;
    grid-template-columns:
    repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 3rem;
  }
  
.formItem label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-family: inherit;
  }
  
.formItem input {
    display: block;
    text-align: center;
    overflow: auto;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    background-color: rgb(100 100 100);
    border: 0.1rem solid rgb(100 100 100);
    color:white
  }
  
.formItem select {
    font-family: inherit;
    overflow: auto;
    width: 90%;
    max-width: 50%;
    margin-bottom: 0.79rem;
    max-width: 10rem;
    font-size: 1rem;
    border-radius: 4px;
    background-color: rgb(100 100 100);
    border: 0.1rem solid rgb(100 100 100);
    color: white
  }

.confirmCancelButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
  }

.formButtons {
  white-space: normal;
  font-family: inherit;
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  background-color: #ffbb00;
  border: 0.2rem solid #ffbb00;
  border-radius: 0.5rem;
}

.formButtons:hover {
    cursor: pointer;
    background-color: #ffbb00c0;
    border: 0.2rem solid #ffbb00c0;
    border-radius: 0.5rem;
}
  
.levelInfo {
    margin-left: 0rem;
}
  
.userStats {
    margin-left: 0rem;
}

