
.accountPage {
    display: flex;
    max-width: 50%;
    width: 90%;
    margin: 10rem auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30 30 30);
    border: 0.5rem solid rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

p {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

label {
    color: white;
    font-family: inherit;
}

.pageHeader {
    color: white;
    font-family: inherit;
    text-shadow: 0.5rem 0.5rem 0.9rem black;
}

.inputFields {
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    row-gap: 0.5rem;
}
input {
    width: 100%;
    margin-bottom: 0.1rem;
    border: 0.1rem solid rgb(100 100 100);
    border-radius: 0.3rem;
    background-color: rgb(100 100 100);
    padding-top: 4%;
    padding-bottom: 4%;
    color: rgb(225, 225, 225)
}

.loginButton {
    background-color: rgb(234, 255, 49);
    font-family: inherit;
    font-size: 1rem;
    text-decoration: none;
    padding: 1% 4%;
    margin: 1rem auto;
    border: 0.2rem solid rgb(234, 255, 49);
    border-radius: 0.5rem;
    width: 50%;
}

.loginButton:hover {
    cursor: pointer;
    background-color: rgb(167, 182, 33);
    border: 0.2rem solid rgb(167, 182, 33);
    border-radius: 0.5rem;
}

.errorMessages {
    color: white;
}